= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Edit Management Task" }
  %p
    = render "/help/task_text"
  %p
    All the management tasks will be displayed in table sorted by date.