= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "New Miscellaneous Expense" }
  %p
    Time and Expense is one of 4 main sections of the NCS Navigator Ops, where you record your task type, time spent to conduct each task, 
    and to report any non-labor expenses (i.e. per diem for travel, parking, toll fees) incurred in the process.
  %p
    %b 
      Miscellaneous Expense 
    captures all the expenses amd mileage which are not related to either management task or data collection task. If any staff memeber have any expense for particular day or week, they should add here.    
  %p 
    %b
      Expense Date
    is mandatoty field. This is the date of expense.
  %p 
    %b
      Comment:
    Add comment for miscellaneous expense which helpful for later review of data.
  %p
    Any expenses which are not related to management task or data collection task, indicate those in the 
    %b
      expense 
    and 
    %b
      miles driven
    sections
  %p
    To save the data, click on 
    %b 
      Save.
    To cancel, click on 
    %b 
      Cancel
  %p
    All the miscellaneous expenses will be displayed in table sorted by date.
