= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Outreach Events" }
  %p
    Outreach Activities is one of 4 main sections of the NCS Navigator Ops.
  %p
    Click on
    %b
      Add new outreach activity/event
    to create the new outreach event.
  %p
    Outreach activity can be search by name, segment or staff involved. Type searching text to the text field and click on
    %b
      search.
  %P
    All the outreach activities will be displayed in table sorted by date.
