= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "New Outreach Event" }
  %p
    There are many sections for outreach event.
  %p
    %b
      Outreach Description:
    Enter event start date as event date using calendar dropdown calendar and event name. PSU will be pre-filled. Mutiple segments can be selected for outreach event.

  %p
    %b
      Outreach Details:
    Outreach mode, type and targets can be selected. There are one or more targets for the outreach events.

  %p
    %b
      Outreach Quantity:
    Number of printed material distributed and Number of attendees can be entered. If studycenter configured with the giveaway items, giveaway item can be added to the event.
    Giveaway item can be selected from dropdown list and quantity can be added. Non-labor cost to conduct outreach can be added.

  %p
    %b
      Outreach Targets:
    Outreach Targeted cultural group, language groups and racial groups information can be added.

  %p
    %b
      Outreach Evaluation:
    Outreach Results and one or more evaluations can be added.

  %p
    %b
      Outreach Staff Information:
    Number of staff involved and staff information can be added.
