= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "My Information - Edit General Information" }
  %p
    My Information page includes staff demographic information, certificate and training information.
  %p
    %b
      General Information
    staff information can be edited including demograohic information like ncs staff type,
    race, gender, ethnicity, date of birth, pay information and languages for staff. There will be one or more languages for staff.
  %p
    Click on
    %b
      Save
    to save the data.
    Click on
    %b
      Cancel
    to cancel the action and back to view data page.
