= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "My Weekly Entries" }
  %p
    Time and Expense is one of 4 main sections of the NCS Navigator Ops, where you record your task type, time spent to conduct each task, 
    and to report any non-labor expenses (i.e. per diem for travel, parking, toll fees) incurred in the process.
  %p
    %b
      My Weekly Entries
    displays all the weekly entries for the particular staff. It includes following information per week for staff.
  %p
    %b 
      Week Start Date:
    Week start day can be 'Sunday' or 'Monday' depending upon study center preference.Entries will be sorted by date.
  %p
    %b 
      Task Reported:
    All the tasks (management tasks or data collection tasks) reported to that week followed by the hours spent on task.
  %p
    %b 
      Total Hours:
    Total hours of management tasks and/or data collection tasks. 
  %p
    %b 
      Miles:
    Total Miles for the management tasks and/or data collection tasks and/or any miscellaneous miles. 
  %p
    %b 
      Expenses:
    Total expenses for the management tasks and/or data collection tasks and/or any miscellaneous expenses. 
  %p
    %b 
      Comment:
    Initially comment field is blank. You can add any comment for the particular week by clicking on the comment field for each week row.
  %p
    %b 
      Delete:
    There is a 'Delete' button for duplicate entries. User should not delete the record unless there is duplicate entry. For incorrect entries, user can always edit the task record.
  %p 
    %b
      Search:
    User can search week entries by date ranges. For date search, date picker will only allow the 'Sunday' or 'Monday' as week start date. 
