= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "My Information - General Information" }
  %p
    My Information page includes staff demographic information, certificate and training information.
  %p
    %b
      General Information 
    displays the staff information including demograohic information like ncs staff type, 
    race, gender, ethnicity, date of birth, pay information and languages for staff.
  %p
    Click on 
    %b 
      Edit
    to edit staff data.