= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Administer user accounts " }
  %p
    User Administrator can manage the users. New user can be added by clicking on
    %b
      Add new user.
    User can be search by there first name, last name or #{NcsNavigator.configuration.study_center_username}
  %p
    All the users will be displayed in table sorted by username.
    The table also shows user roles and status of that user.
