= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Edit Certification/Training" }
  %p
    Certificates/Trainings are the part of my information. Staff may have more than one certificate/training.
  %p
    Staff can edit the any certification/training data which needs to be corrected.
  %p
    To save the data, click on 
    %b 
      Save.
    To cancel, click on 
    %b 
      Cancel
  %p
    All the certification and trainings will be displayed in table.