= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Add new user" }
  %p
    New user has several sections.
  %p
    %b
      General Information:
    first name, last name, email and #{NcsNavigator.configuration.study_center_username}. Staff ID will be auto generated UUID.
  %p
    For existing staff of ncs using different application for MDES data, assigned Staff Id can be entered instead of auto generated id. 
    Inactive date for NCS project. This will make user inactive and will not be allowed to use NCS navigator. 
    If any user is not using staff portal for time and expense entry or other information 
    but will be using NCS Navigator, user can be marked as external user to staff portal.
  %p
    %b
      Role(s):
    One or multiple roles can be assigned to the user.
  %p
    %b
      Supervisor(s):
    This will list the supervisors for the staff who can view/add/edit the information of the staff.
  %p 
    %b
      Supervisees: 
    This section will be visible for staff supervisor role only. Initially if user assigned staff supervisor role, it set to supervise all staff members of the application. 
    To limit staff supervisor to the set of staff members, open the staff supervisor page again and add the particular staff members.
