%p
  Time and Expense is one of 4 main sections of the NCS Navigator Ops, where you record your task type, time spent to conduct each task,
  and to report any non-labor expenses (i.e. per diem for travel, parking, toll fees) incurred in the process.
%p
  %b
    Task Date
  and
  %b
    Task Type
  are mandatoty fields.
%p
  Under
  %b
    Labor Expenses
  if your hourly rate is not pre-filled, click ‘Update’ and enter the correct information in the ‘My Information’ section
%p
  Enter hours spent in the
  %b
    Hours spent
%p
  If there are additional non-labor expenses, indicate these in the
  %b
    expense
  and
  %b
    miles driven
  sections
%p
  To save the data, click on
  %b
    Save.
  To cancel, click on
  %b
    Cancel
