- if @staff.belongs_to_management_group
  .breadcrumbs
    = render_breadcrumbs :separator => ' / '
  .content_tab
    %span.current_tab
      Management Task
    - if @staff.belongs_to_data_collection_group
      = link_to 'Data Collection Task', new_staff_data_collection_task_path(@staff.id), :class => "other_tab"  
    - if @staff.has_role(Role::STAFF_SUPERVISOR) && same_as_current_user(@staff)
      = link_to 'Staff Entries', staff_weekly_expenses_path, :class => "other_tab"