= render 'tabs'
.content_body
  - if !@staff.external?
    .section_gap
    .section
      .section_heading
        New management task for #{@staff.display_name}
      = render 'management_task'
  .section_gap
  = render 'management_tasks'
