.breadcrumbs
  = render_breadcrumbs :separator => ' / '
- if notice
  %p#notice= notice
-display_content(@staff.name, "Name:")
-display_content(@staff.email, "Email:")
-display_content(@staff.display_username, NcsNavigator.configuration.study_center_username + ":")
-display_content(StaffPortal.study_center_name, "Study center:")
- if @staff.staff_type_other.blank?
  -display_content(@staff.staff_type, "Staff Type:", true)
- else
  -display_content(@staff.staff_type_other, "Staff Type:")
-display_content(@staff.hourly_rate, "Default Hourly rate: $")
-display_content(@staff.display_birth_date, "Date of birth:")
-display_content(@staff.gender, "Gender:", true)
- if @staff.race_other.blank?
  -display_content(@staff.race, "Race:", true)
- else
  -display_content(@staff.race_other, "Race:")
-display_content(@staff.ethnicity, "Ethnicity:", true)
-display_content(@staff.zipcode, "Home ZIP code:")
-display_content(@staff.subcontractor, "Is this a subcontractor position?:", true)
-display_content(@staff.experience, "Direct experience conducting population based, household field interviewing:", true)
%p
  %b Language(s) spoken:
  = display_languages(@staff.staff_languages)
= link_to 'Edit', edit_staff_path(@staff), :class => "edit_link icon_link"
