#current_user
  Hi
  = current_user.full_name
  (
  = current_user.username
  )
  &nbsp;as&nbsp;
  %em
    = current_user.permit?(:supervisor) ? "Supervisor" : "Staff"
  &nbsp;|&nbsp;
  = link_to "logout", logout_path
