.footer_logo_front
  = image_tag("ncs_gcsc_logo_sm.png")
  
.contact_info
  = StaffPortal.display_footer_text.split("\n").join("<br>\n").html_safe
  
.footer_logo_back
  = image_tag("ncs_gcsc_redwords_sm.png")  

.app_version
  = app_version_helper
