.ncs_logo
  = image_tag("ncs_gcsc_logo_sm.png")

.contact_info
  National Children’s Study-Greater Chicago Study Center
  %br
  Institute for Healthcare Studies,Feinberg School of Medicine
  %br
  Northwestern University
  %br
  420 East Superior, 10th Floor
  %br
  Chicago, IL 60611

.ncs_text
  = image_tag("ncs_gcsc_redwords_sm.png")  

.app_version
  = app_version_helper
