.footer_logo_front
  = image_tag(StaffPortal.footer_logo_left_path) if StaffPortal.footer_logo_left_path
  
.contact_info
  = NcsNavigator.configuration.footer_center_html
  
.footer_logo_back
  = image_tag(StaffPortal.footer_logo_right_path) if StaffPortal.footer_logo_right_path

.app_version
  = app_version_helper
