// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";


// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding("body.bp");

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form; 
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.ncs {
  
  #container {
    @include container; 
    //@include showgrid(); //for debug and allignment purposes

  }
  
  #header, #footer {
    @include column($blueprint-grid-columns);
  }

  #header{
    background-color: $header_bg;
    #app_name{
      @include prepend(1);
      font-size: 2.0em; 
      @include column(6); 
    }

    #current_user{
      @include prepend-top(0.5em);
      @include column(16, true);
      @include append(1);
      text-align: right;
    }
    
    #tab_navigation{
      @include column($blueprint-grid-columns);
      ul {
        list-style-type: none;
      }

      ul li{
        display: inline;
        float: left;
        padding: 1em 0.5em 0 0.5em;
      }

      li a{
        display: block;
        width: 12em;
        padding: 0.3em 0.3em 0.1em 0.3em;
        background-color: $tab_nav_bg;
        text-decoration: none;
        border: 1px solid $tab_nav_border;
        border-bottom: 0px;
        text-align: center;
        color: $tab_nav_txt;
      }
            
      li.current a{
        display: block;
        width: 12em;
        padding: 0.3em 0.3em 0.1em 0.3em;
        background-color: $tab_nav_current_bg;
        text-decoration: none;
        border: 1px solid $tab_nav_border;
        border-bottom: 0px;
        text-align: center;
        color: $tab_nav_current_txt; 
      }
    } // end of tab nav
  } // end of header


    
  #tab_vertical{
     @include column(5);
     @include prepend-top(1em);
     ul {
       list-style-type: none;
       padding: 0;
       margin: 0;
     }

     ul li{
       padding: 0.5em;
     }

      li a{
        display: block;
        width: 12em;
        padding: 0.3em 0.3em 0.1em 0.3em;
        background-color: $tab_vertical_bg;
        text-decoration: none;
        border: 1px solid $tab_vertical_border;
        text-align: center;
        color: $tab_nav_txt;
      }

      li.current span{
        display: block;
        width: 12em;
        padding: 0.3em 0.3em 0.1em 0.3em;
        background-color: $tab_vertical_current_bg;
        text-decoration: none;
        border: 1px solid $tab_vertical_border;
        text-align: center;
        color: $tab_vertical_current_txt; 
      }

    }
  #content_vertical{
   @include column(15,true);
   @include prepend-top(1em); 
  }
  
  #content {
    @include column($blueprint-grid-columns - 2);
    padding: 1em 0;
    @include prepend(1);
    @include append(1); 
    background-color: $tab_nav_current_bg;
  }

  #footer {
    background-color: $footer_bg;
    font-size: 1.1em;
  
    .ncs_logo {
      @include column(6);
    }
  
    .contact_info {
      @include prepend-top(1em);
      @include column(14);
      text-align: center;
    }
  
    .ncs_text{
      @include prepend-top(1em);
      @include column(3,true); 
      img{
        display: block;
      }
    }

    .app_version{
      color: #999;
      @include column($blueprint-grid-columns);
      text-align: right;
    }
  } // end of footer
} // end of body
