// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";


// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding("body.bp");

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form; 
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.ncs {

  a:hover {
    background-color: $tab_nav_bg;
    color: #f0f0f0;
  }
  
  /* jQuery UI - Override the jQuery CSS*/
  .ui-widget {
    font-family: inherit;
    font-size: 100%;
  }

  ul.ui-autocomplete  {
    list-style-type: none !important;
    padding-left: 0 !important;
    border-bottom: 1px solid #AAAAAA !important;
  }
  
  #container {
    @include container; 
    @include showgrid(); //for debug and allignment purposes

  }
  
  #header, #footer {
    @include column($blueprint-grid-columns);
  }

  #header{
    background-color: $header_bg;
    #app_name{
      @include prepend(1);
      font-size: 2.0em; 
      @include column(6); 
    }

    #current_user{
      @include prepend-top(0.5em);
      @include column(16, true);
      @include append(1);
      text-align: right;
    }
    
    #tab_navigation{
      @include column($blueprint-grid-columns);
      ul {
        list-style-type: none;
      }

      ul li{
        display: inline;
        float: left;
        padding: 1em 0.5em 0 0.5em;
      }

      li a{
        display: block;
        width: 12em;
        padding: 0.3em 0.3em 0.1em 0.3em;
        background-color: $tab_nav_bg;
        text-decoration: none;
        border: 1px solid $tab_nav_border;
        border-bottom: 0px;
        text-align: center;
        color: $tab_nav_txt;
      }
            
      li.current a{
        display: block;
        width: 12em;
        padding: 0.3em 0.3em 0.1em 0.3em;
        background-color: $tab_nav_current_bg;
        text-decoration: none;
        border: 1px solid $tab_nav_border;
        border-bottom: 0px;
        text-align: center;
        color: $tab_nav_current_txt; 
      }
    } // end of tab nav
  } // end of header


    
  #tab_vertical{
     @include column(5);
     @include prepend-top(1em);
     ul {
       list-style-type: none;
       padding: 0;
       margin: 0;
     }

     ul li{
       padding: 0.5em;
     }

      li a{
        display: block;
        width: 12em;
        padding: 0.3em 0.3em 0.1em 0.3em;
        background-color: $tab_vertical_bg;
        text-decoration: none;
        border: 1px solid $tab_vertical_border;
        text-align: center;
        color: $tab_nav_txt;
      }

      li.current span{
        display: block;
        width: 12em;
        padding: 0.3em 0.3em 0.1em 0.3em;
        background-color: $tab_vertical_current_bg;
        text-decoration: none;
        border: 1px solid $tab_vertical_border;
        text-align: center;
        color: $tab_vertical_current_txt; 
      }

    }
  #content_vertical{
   @include column(15,true);
   @include prepend-top(1em); 
  }
  
  #content {
    @include column($blueprint-grid-columns - 2);
    padding: 1em 0;
    @include prepend(1);
    @include append(1); 
    background-color: $tab_nav_current_bg;
    table {
      //border: 0.1px solid #333;
      //background-color:  $current_form_bg
    }
    
    table tr, table td, .row {
       padding: 0.2em 0;
    }
    
    
    table td.col1{
      @include column(19)
    }
    
    table td.col2{
      @include column(3,true)
    }
    
    .block {
      background-color: $form_table_bg;
      @include append-bottom(1em);
    }
    
    .block .title {
      font-weight: bold;
      font-style: normal;
      font-size: 125%;
      padding: 0.2em 0;
    }
    
    em{ 
    font-weight: bold;
    font-style: normal;
    font-size: 125%;
    }
    
  }
  
  .current_form {
    border: 1px solid #333;
    background-color: $current_form_bg;
    @include column(22,true);
    @include append-bottom(1em);
    
    label, .other_data{
      padding-left: 1em;
    }
    
    em{ 
    font-weight: bold;
    font-style: normal;
    }
    
    div{ 
        padding: 0.5em;
    }
    .task_info{
      @include column(18,true);
    }
    
    .task_expense{
      @include prepend(1);
      @include column(6);
    }
    
    .task_actions{
      @include prepend(3);
      @include column(4,true);
    }
    
  }

  #footer {
    background-color: $footer_bg;
    font-size: 1.1em;
  
    .ncs_logo {
      @include column(6);
    }
  
    .contact_info {
      @include prepend-top(1em);
      @include column(14);
      text-align: center;
    }
  
    .ncs_text{
      @include prepend-top(1em);
      @include column(3,true); 
      img{
        display: block;
      }
    }

    .app_version{
      color: #999;
      @include column($blueprint-grid-columns);
      text-align: right;
    }
  } // end of footer
} // end of body
