%tr{ :class => "outreach_ssu fields" }
  %td
    = f.label :ssu_code, "SSU"
    = f.select :ssu_code, NcsSsu.ssu_code_lookup, {:prompt => 'Select segment'} , {:class => "nested_attribute_selector outreach_ssus_selector"}
  %td
    = link_to_remove_fields 'Remove', f, :outreach_ssus