%tr{ :class => "outreach_staff_member fields" }
  %td
    = label_tag "Staff member"
    = f.select :staff_id, Staff.all.map {|s| [s.name, s.id]}, { :include_blank => true },{ :class => 'outreach_staff_combobox_autocompleter outreach_staff_members_selector' }
  %td
    = link_to_remove_fields 'Remove', f, :outreach_staff_members