- javascript 'nested_attributes', 'outreach_events', 'combobox'
- if @outreach_event.event_date.blank?
  %h3 Edit outreach activity/event #{@outreach_event.name}
- else
  %h3 Edit outreach activity/event #{@outreach_event.name}(#{@outreach_event.event_date})

= render 'outreach_events'




