- javascript 'nested_attributes', 'management_tasks_list'
%h1 Editing staff weekly expense

= render 'staff_weekly_expenses'

= link_to 'Show', staff_staff_weekly_expense_path(params[:staff_id])
\|
= link_to 'Back', staff_staff_weekly_expenses_path(params[:staff_id])
