%p#notice= notice

-display_content(@staff_weekly_expense.week_start_date,  " Week start date:")
-display_content(@staff_weekly_expense.staff_pay, "Staff pay:")
-display_content(@staff_weekly_expense.staff_hours, "Staff hours:")
-display_content(@staff_weekly_expense.staff_expenses, "Staff expenses:")
-display_content(@staff_weekly_expense.staff_miles,"Staff miles:")
-display_content(@staff_weekly_expense.comment, "Comment:")

= link_to 'Edit', edit_staff_staff_weekly_expense_path(params[:staff_id],@staff_weekly_expense)
\|
= link_to 'Back', staff_staff_weekly_expenses_path(params[:staff_id])
\|
= link_to 'Back to the staff', staff_path(params[:staff_id])
