.breadcrumbs
  = render_breadcrumbs :separator => ' / '
.content_body
  = render 'staff_cert_trainings'
  .section_gap
  .section
    .section_heading
      New Certification/Training for #{@staff.display_name}
    = render 'staff_cert_training'
