%p
  Welcome to the NCS Navigator Ops. This application keeps track of staff information including demographic information, time, hours, expenses. NCS Navigator Ops is also used for user management for NCS Navigator. 
%p
  Please login here:
  = link_to "Login", dashboard_url, :class => "login_link icon_link"